<div class="container-listar-cliente">
    <div class="listar-cliente">
        <mat-card>
        <p-table [value]="clientes">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="name" style="width:20%"><mat-icon matSuffix>person</mat-icon> Nome <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="email" style="width:20%"><mat-icon matSuffix>mail</mat-icon> Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="address.city" style="width:20%"><mat-icon matSuffix>location_on</mat-icon>Cidade <p-sortIcon field="address.city"></p-sortIcon></th>
                    <th pSortableColumn="company.name" style="width:20%"><mat-icon matSuffix>location_city</mat-icon>Empresa <p-sortIcon field="company.name"></p-sortIcon></th>
                    <th>Detalhe</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-clientes let-columns="columns">
                <tr>
                    <td class="content-table-align header-table">
                        <div>{{clientes.name}}</div>
                    </td>
                    <td class="content-table-align header-table">
                        <div>{{clientes.email}}</div>
                    </td>
                    <td class="content-table-align header-table">
                        <div>{{clientes.address.city}}</div>
                    </td>
                    <td class="content-table-align header-table">
                        <div>{{clientes.company.name}}</div>
                    </td>
                    <td class="content-table-align header-table">
                        <mat-icon matSuffix style="color:#01602a; cursor: pointer;" (click)="listarDetalhes(clientes)">person_search</mat-icon>
                    </td>                   
                </tr>
            </ng-template>
        </p-table>
        </mat-card>
    </div>
</div>