<div class="container-filtrar-cliente">
    <div class="filtrar-cliente">
        <div class="titulo-filtrar-cliente">
            <mat-icon matSuffix style="color:white; margin-right: 10px;width: 30px; font-size: 2rem;">groups</mat-icon>
            <span>Clientes</span>
        </div>
        <div class="inputs-filtrar-cliente">
            <mat-form-field class="input-login">
                <mat-label>Nome Cliente</mat-label>                  
                <input matInput placeholder="Digite nome do cliente" (keyup)="dadosNomeCliente()" [(ngModel)]="filtro.nomeCliente" >
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Email</mat-label>                  
                <input matInput placeholder="Digite email do cliente" (keyup)="dadosNomeCliente()" [(ngModel)]="filtro.emailCliente" >
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Cidade</mat-label>                  
                <input matInput placeholder="Digite cidade do cliente" (keyup)="dadosNomeCliente()" [(ngModel)]="filtro.cidadeCliente">
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
            <mat-form-field class="input-login">
                <mat-label>Empresa</mat-label>                  
                <input matInput placeholder="Digite empresa do cliente" (keyup)="dadosNomeCliente()" [(ngModel)]="filtro.empresaCliente">
                <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>

